/* Contact.css */
.contact-page {
  max-width: 511.5px;
  margin: 0 auto;
  padding: 40px;
  background: #f0e9df; /* Light, neutral color */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center-align content */
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left; /* Left-align form content */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #596e79;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dfd3c3;
  border-radius: 8px;
  font-size: 1rem;
  color: #596e79;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus {
  outline: none;
  border-color: #937a5e;
  box-shadow: 0 0 8px rgba(199, 177, 152, 0.4);
}

button[type='submit'] {
  background-color: #c7b198;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button[type='submit']:hover {
  background-color: #596e79;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
