.navbar {
  background-color: var(--card-bg);
  color: var(--text-color);
  padding: 1.5rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;  
  z-index: 1000; 
}


.navbar-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navbar-title {
  font-size: 1.8rem; /* Increased font size */
  font-weight: 700;
  color: var(--heading-color);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-title:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-links li {
  margin-left: 1.5rem;
}

.nav-link, .logout-button {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem; /* Slightly increased font size */
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.nav-link::after, .logout-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after, .logout-button:hover::after {
  transform: scaleX(1);
}

.nav-link:hover, .logout-button:hover {
  color: var(--primary-color);
}

.logout-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.logout-button:hover {
  background-color: #2980b9;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

